.signup-page {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.auth-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    min-height: 600px;
    flex-shrink: 0;
}

.signup-page h1 {
    text-align: center;
    font-family: Arial;
    font-size: 40px;
}

.signup-form {
    display: flex;
    align-items: center;
    margin: 20px;
}

.signup-page input {
    width: 400px;
    box-sizing: border-box;

    margin-bottom: 25px;
    border-radius: 15px;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    padding: 15px;
}

.signup-button {
    padding: 10px 80px;
    border: none;
    border-radius: 100px;
    background-color: lightblue;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
}

.signup-button:hover {
    opacity: 0.8;
}

.signup-button:active {
    opacity: 0.6;
}

.signup-page p {
    position: relative;
    top: 170px;
    right: 68px;
    width: 60px;
}
