.signin-page {
    background-color: lightblue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-height: 100vh;
}

.signin-page .auth-box {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 80%;
    height: 60%;
    min-height: 60%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signin-page h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.signin-page form {
    padding-left: 5%;
    padding-right: 5%;
}

.signin-page input {
    box-sizing: border-box;
    width: 100%;

    border-color: lightgray;
    border: solid;
    border-radius: 15px;
    border-width: 1px;

    margin-bottom: 25px;
    padding: 3%;
}

.signin-page .error-message {
    margin-left: 2%;
    margin-bottom: 3%;
    color: red;
}

.signin-page .forgot-password {
    margin-left: 2%;
    margin-bottom: 10%;
}

.signin-page .button-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.signin-page .signin-button {
    background-color: lightblue;
    position: relative;

    border: none;
    border-radius: 10%;
    font-size: 100%;
    padding: 3% 3%;

    margin-top: 3%;
    margin-bottom: 3%;
    cursor: pointer;
}

.signin-page .signin-button:hover {
    opacity: 0.8;
}

.signin-page .signin-button:active {
    opacity: 0.6;
}

.signin-page .sign-in-button {
    position: relative;
}

@media only screen and (min-width: 768px) {
    .signin-page .auth-box {
        width: 40%;
        height: 100%;
        min-height: 100%;
    }

    .signin-page input {
        font-size: 140%;
    }

    .signin-page .signin-button {
        font-size: 150%;

        border-radius: 100px;
        padding: 3% 8%;
    }

    .signin-page .sign-in-button {
        font-size: 130%;
    }

    .signin-page .signup-text,
    .forgot-password {
        font-size: 130%;
    }
}
